body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #040553;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px;
}

form {
  margin-top: 10px;
}

form label {
  display: block;
  margin: 5px 0;
}
#details {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

#details p {
  margin: 20px 0;
}
